# Global settings
namespace:
  name: movie
  create: true

# StorageClass configuration
storageClass:
  name: gp2-immediate
  provisioner: kubernetes.io/aws-ebs
  parameters:
    type: gp2
  volumeBindingMode: Immediate
  reclaimPolicy: Delete

rds: {}
  



# Movie Service (Spring Boot) configuration
movieService:
  enabled: true
  name: movie-service
  image:
    repository: 543816070942.dkr.ecr.us-east-1.amazonaws.com/movieapp-backend
    tag: "29"
  replicas: 1
  port: 8081
  env:
    springProfilesActive: docker
    # These values are used when mysql.enabled=true
    springDatasourceUrl: jdbc:mysql://movie-db.clbdj44v7c4x.us-east-1.rds.amazonaws.com:3306/movie_db
    springDatasourceUsername: movieuser
    springDatasourcePassword: moviepass
    zipkinEndpoint: http://zipkin:9411/api/v2/spans
  service:
    type: ClusterIP
    port: 8081
    targetPort: 8081

# ConfigMap for database initialization scripts
initScripts:
  enabled: true
  name: movie-init-scripts

